.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 70%;
    margin: 50px;
}

.buttonSegments {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.buttonSegments input {
    display: block;
    margin: none;
    padding: none;
    width: auto;
    height: auto;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.inputButtons {
    display: block;
    margin: none;
    padding: none;
}